[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %]
<title>LLMSearch Plugin Configuration</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo; LLMSearch &rsaquo; Configuration</div>

<div id="doc3">
    <h3>LLMSearch: Configuration</h3>
    	<form method="get">
        <input type="hidden" name="class" value="[% CLASS %]"/>
        <input type="hidden" name="method" value="[% METHOD %]"/>
	[% INCLUDE 'csrf-token.inc' %]
	<div>
            <label for="api_key">LLM API Key</label>
	    <input type="text" name="api_key" value="[% api_key %]"/>
	</div>
	<div>
	    <label for="welcome">Welcome message</label>
	    <textarea name="welcome">[% welcome %]</textarea>
	</div>
	<div>
	    <label for="system_prompt">System Prompt</label>
	    <textarea name="system_prompt">[% system_prompt %]</textarea>
	</div>
	<div>
            <label for="model">Model to use</label>
	    <input type="text" name="model" value="[% model %]"/>
	</div>
	<div>
	    <label for="base_url">Base URL</label>
	    <input type="text" name="base_url" value="[% base_url %]"/>
	</div>
	<div>
	    <label for="only_logged">Optional : Only show to logged-in users</label>
	    <input type="checkbox" name="only_logged" [% IF ( only_logged ) %]checked="checked"[% END %]/>
	</div>
	<div>
	    <label for="only_logged">Optional : Enable stats collection</label>
	    <input type="checkbox" name="enable_stats" [% IF ( enable_stats ) %]checked="checked"[% END %]/>
	</div>
	<div>
            <input type="hidden" name="save" value="1" />
            <input type="submit" value="Save configuration" />
	</div>
	</form>
[% INCLUDE 'intranet-bottom.inc' %]
