[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %]
 <title>LLMSearch Plugin Configuration</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo; LLMSearch &rsaquo; Configuration</div>

<div id="doc3">
    <h3>LLMSearch: Configuration</h3>
    	<form method="get">
        <input type="hidden" name="class" value="[% CLASS %]"/>
        <input type="hidden" name="method" value="[% METHOD %]"/>
	<div>
	<label for="api_key">Your Mistral API Key</label>
	<input type="text" name="api_key" required="true" value="[% api_key %]"/>
	</div>
	<div>
	<label for="model">Optional : Model to use</label>
	<input type="text" name="model" value="[% model %]"/>
	</div>
	<div>
	<label for="base_url">Optional : AI Base URL</label>
	<input type="text" name="base_url" value="[% base_url %]"/>
	</div>
	<div>
        <input type="hidden" name="save" value="1" />
        <input type="submit" value="Save configuration" />
	</div>
	</form>
[% INCLUDE 'intranet-bottom.inc' %]